PORT=3001
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=turnos_db
JWT_SECRET=cambia_esto_por_algo_largo
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
BACKEND_URL=https://turnreserved.com

# MercadoPago
# Obtener en: https://www.mercadopago.com.ar/developers/panel/app
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxxxxxxxxx
MP_WEBHOOK_SECRET=tu_webhook_secret
